 .u-section-1 {
  background-image: url("images/hghhy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 52px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 682px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  margin: 87px 0 0 109px;
}

.u-section-1 .u-line-1 {
  width: 568px;
  transform-origin: right center;
  margin: 20px 0 0 109px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 9px 109px 0 422px;
}

.u-section-1 .u-line-2 {
  width: 568px;
  transform-origin: right center;
  margin: 20px 109px 0 auto;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  font-weight: 700;
  font-size: 1rem;
  margin: 34px 109px 0;
}

.u-section-1 .u-btn-1 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 87px auto 0;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    min-height: 728px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.25rem;
    margin-left: 322px;
    margin-right: 9px;
  }

  .u-section-1 .u-line-2 {
    width: 431px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 9px;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 200px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 111px;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 321px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 520px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-line-2 {
    width: 320px;
  }
}